@charset "UTF-8";
.hero {
    margin-top: 0px;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #1d3557;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.3s;
}

h2 {
    font-size: 36px;
    color: #1d3557;
    margin-bottom: 15px;
}