<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<!-- 서블릿 설정 -->
	<servlet>
        <servlet-name>BoardController</servlet-name>
        <servlet-class>mvc.controller.BoardController</servlet-class>
        <multipart-config>
	        <location>/tmp</location>
	        <max-file-size>10485760</max-file-size>
	        <max-request-size>52428800</max-request-size>
	        <file-size-threshold>1048576</file-size-threshold>
	    </multipart-config>    
    </servlet>
    
    <!-- 서버 보안 설정 -->
    <security-constraint>
	    <web-resource-collection>
	        <web-resource-name>Restricted Uploads</web-resource-name>
	        <url-pattern>/uploads/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint />
	</security-constraint>

	<!-- 서블릿 URL 매핑 -->
	<servlet-mapping>
		<servlet-name>BoardController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- 화장풀 서블릿 URL 매핑 -->
	<servlet>
	    <servlet-name>CosmeticsServlet</servlet-name>
	    <servlet-class>dao.CosmeticsRepository</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>CosmeticsServlet</servlet-name>
	    <url-pattern>/Cosmetics</url-pattern>
	</servlet-mapping>
	
	<!-- 기본 시작 페이지 설정 (필요 시 주석 해제) -->
	<!-- <welcome-file-list> <welcome-file>index.jsp</welcome-file> </welcome-file-list> -->

	<!-- 관리자 로그인 설정 -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/adminLogin.jsp</form-login-page>
			<form-error-page>/adminLogin_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<!-- 에러 페이지 설정 -->
	<error-page>
		<error-code>404</error-code>
		<location>/exceptionNoPage.jsp</location>
	</error-page>

	<!-- 게시글 수정 폼 -->
	<servlet-mapping>
		<servlet-name>BoardController</servlet-name>
		<url-pattern>/BoardUpdateForm.do</url-pattern>
	</servlet-mapping>
	
	<!-- 관리자 계정 설정 -->
	<security-role><!-- 관리자 이름 -->
		<description></description>
		<role-name>admin</role-name>
	</security-role>
	<security-constraint>
		<display-name>K_Culture</display-name>
		<web-resource-collection>
			<web-resource-name>admin Page</web-resource-name>
		<!-- 관리자로그인 시도할 페이지 및 성공할 경우 이동하는 파일경로 -->
        <url-pattern>/adminCheck.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>권한 관리자명</description>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>